node_modules/
.vscode/
dist/
.env
.DS_Store
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
.idea/
*.sublime-workspace
*.sublime-project
*.log
*.tsbuildinfo
.cache/
.next/
out/
*.local
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
.docusaurus/
build/
